[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
robotframework = "*"
selenium = "*"
robotframework-seleniumlibrary = "*"
pyyaml = "*"
robotframework-pabot = "*"
robotframework-stringformat = "*"
flake8 = "*"
robotframework-lint = "*"

[requires]
python_version = "3.7"
